<section id="showcase" class="py-5">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center">
          <h1 class="display-3 mt-5 pt-5">
            Wszystkie zdjęcia, cała prawda...
          </h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium, recusandae?
          </p>
          <a href="#" class="btn btn-outline-secondary btn-lg text-white">
            <i class="fas fa-arrow-right"></i> Więcej ...
          </a>
        </div>
        <div class="col-lg-6">
          <img
            src="../../assets/img/book.png"
            alt=""
            class="img-fluid d-none d-lg-block"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="login" class="py-5">
  <div class="container">
    <div class="row"></div>
    <div class="col-lg text-center">
      <h3>Zaloguj się do systemu</h3>
      <form id="signinForm" (ngSubmit)="signIn()" #signinForm="ngForm">
        <div class="input-group input-group-lg mb-3">
          <input
            autocomplete="username"
            name="email"
            type="email"
            class="form-control form-control-lg"
            placeholder="Email"
            id="username"
            [(ngModel)]="signinData.email"
            required
          />
        </div>

        <div class="input-group input-group-lg mb-3">
          <input
            autocomplete="current-password"
            name="password"
            type="password"
            class="form-control form-control-lg"
            placeholder="Hasło"
            id="password"
            [(ngModel)]="signinData.password"
            required
          />
        </div>
      </form>

      <button
        class="btn btn-primary btn-block"
        form="signinForm"
        type="submit"
        [disabled]="!signinForm.form.valid"
      >
        Zaloguj
      </button>
      <div class="container text-dark" style="font-size: 0.8rem;">
        <p>
          Nie jesteś użytkownikiem?
          <a [routerLink]="['/signup']" data-dismiss="modal"
            >Zarejestruj się tutaj</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h3>Napisz do nas</h3>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
          temporibus!
        </p>
        <form>
          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Imię i nazwisko"
            />
          </div>
          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email" />
          </div>
          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
            <textarea
              style="overflow:auto;resize:none"
              class="form-control"
              placeholder="Wiadomość"
              rows="5"
            >
            </textarea>
          </div>
          <input
            type="submit"
            value="Wyślij"
            class="btn btn-primary btn-block btn-lg"
          />
        </form>
      </div>

      <div class="col-lg-3 align-self-center">
        <img
          src="../assets/img/logo.png"
          alt=""
          class="img-fluid d-none d-lg-block"
        />
      </div>
    </div>
  </div>
</section>
