<div class="container">
  <div class="row align-items-center">
    <div class="mx-auto col-lg-6  py-4">
      <form (ngSubmit)="signup()" #signupForm="ngForm">
        <div
          class="alert alert-warning alert-dismissible"
          role="alert"
          *ngIf="message !== ''"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        <h2 class="form-signin-heading">Zarejestruj się w systemie</h2>
        <label for="inputName" class="sr-only">Nazwa</label>
        <input
          id="inputName"
          type="text"
          class="form-control"
          placeholder="Nazwa użytkownika"
          [(ngModel)]="signupData.username"
          name="username"
          required
        />
        <label for="inputEmail" class="sr-only">Adres email</label>
        <input
          id="inputEmail"
          type="email"
          class="form-control"
          placeholder="Adres email"
          [(ngModel)]="signupData.email"
          name="email"
          required
        />
        <label for="inputPassword" class="sr-only">Hasło</label>
        <input
          id="inputPassword"
          autocomplete="current-password"
          type="password"
          class="form-control"
          placeholder="Hasło"
          [(ngModel)]="signupData.password"
          name="password"
          required
        />
        <label for="confirmPassword" class="sr-only">Hasło potwierdzenie</label>
        <input
          id="confirmPassword"
          type="password"
          class="form-control"
          placeholder="Hasło (potwierdzenie)"
          [(ngModel)]="signupData.confirmPassword"
          name="confirmPassword"
          required
        />
        <button
          class="btn btn-lg btn-primary btn-block"
          type="submit"
          [disabled]="
            !signupForm.form.valid ||
            signupData.password != signupData.confirmPassword
          "
        >
          Zarejestruj
        </button>
      </form>
    </div>
  </div>
</div>
